*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    transition: 0.2s;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 400px;
    height: 95px;
    border-radius: 10px;
    text-align: center;
    font-size: 32px;
}
button{
    font-size: 29px;
    border: none;
    display: block;
    background-color: black;
    color: white;
    margin-top: 12px;
    padding-left: 45px;
    padding-right: 55px;
    padding-bottom: 4px;
    border-radius: 7px;
}
